/* «C1» Відсутні глобальні стилі елементів, крім <body>. «C3» В стилях відсутній !important.
«C2» Для оформлення використовуються селектори класу.
«C4» Інтерактивні елементи (кнопки і посилання), при наведенні мишкою або фокусі з клавіатури, мають активний стан, вказаний в макеті (зміна кольору).
«С5» Текст контактів в хедері і футері змінює колір при ховері і фокусі.
«C6» Для зберігання палітри кольорів макета (текст, фон, виділення) використовуються CSS-змінні.
«С7» Для елемента <body> задана властивість font-family з домінантним шрифтом на макеті Roboto.
«С8» Вказані альтернативні варіанти шрифту і тип сімейства (без зарубок) в кінці переліку font-family в елемента <body>.
«С9» Сімейство шрифтів Roboto явно задане тільки для елемента <body>, інші елементи наслідують його.
«С10» Для елемента <body> задана властивість color з кольором тексту, домінантним на макеті. Решта тексту наслідує або перекриває це значення.
«С11» Розмір шрифту (властивість font-size) всіх текстових елементів точно відповідає значенням з макета.
«С12» Висота рядка (властивість line-height) всіх текстових елементів точно відповідає значенням з макета і задана як множник, а не в px.
«С13» Колір (властивість color) всіх текстових елементів точно відповідає значенням з макета.
«С14» Вага шрифту (властивість font-weight) всіх текстових елементів точно відповідає значенням з макета.
«С15» Вага шрифту (властивість font-weight) явно вказана тільки, якщо значення в макеті відрізняється від стандартного для цього елемента в браузері.
«С16» Кнопкам задана властивість cursor зі значенням pointer.
«С17» У стилях не повторюються значення властивостей, які задані браузером за замовчуванням. Наприклад, посиланням не потрібно вказувати cursor: pointer, а абзацам font-style: normal або font-weight: 400. */

/* Всі наявні кольори: 
#212121
#FFFFFF
#757575
#2196F3
#EEEEEE
#000000 - done
#F5F4FA
#FFFFFF60 %
#2F303A
#ECECEC */

/* GENERAL STYLES */

:root {
  --main-backgrond-color: #ffffff;
  --accent-color: #2196f3;
  --footer-font: #2f303a; /* колір першої секції постера і футера  */
  --section-color: #f5f4fa; /*  цвет секции наша команда */
  --main-font-color: #212121; /* основний колір тексту */
  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
body {
  background-color: var(--main-backgrond-color);
  font-family: var(--main-font);
  color: var(--main-font-color);
}

.logo {
  font-family: var(--logo-font);
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-first-part {
  color: var(--accent-color);
}
.link {
  text-decoration: none; /* прибирає підкреслення посилань */
}
.list {
  list-style: none; /* прибирає крапочки списку */
}
/* HEADER NAV */

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* MAIN SECTION (FIRST SECTION */

.main-section {
  background-color: #2f303a;
}
.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
